---
import "@/styles/global.css";
import { CursorGlow } from "@/components/cursor-glow";
import { ColorCycler } from "@/components/cursor-glow-cycler";
import {
  ReducedMotionDialog,
  ReducedMotionProvider,
} from "@/components/reduced-motion-dialog";
interface Props {
  glowColor?: string;
}

const { glowColor } = Astro.props;
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>AltonRose.dev</title>
  </head>
  <ReducedMotionProvider client:only>
    <body class='max-w-dvw overflow-x-hidden'>
      <div class='relative z-20'>
        <slot /><ReducedMotionDialog client:only />
      </div>
      <div class='fixed inset-0 z-0'>
        <CursorGlow client:only glowColor={glowColor} />
        {
          !glowColor && glowColor != "var(--cursorGlow)" && (
            <ColorCycler client:only />
          )
        }
      </div>
      <div
        class="fixed inset-0 z-10 bg-[url('/BackgroundLight.svg')] dark:bg-[url('/Background.svg')] bg-repeat bg-fixed pointer-events-none bg-size-[200px] backdrop-blur-xl h-full"
      >
      </div>
    </body>
  </ReducedMotionProvider>
</html>
